@font-face {
    font-family: 'Montserrat';
    src: url('fonts/static/Montserrat-Bold.ttf') format('truetype');
}

/* Cuerpo */
body {
    background-color: rgb(150, 133, 133);
    font-family: 'Montserrat', sans-serif;
}

/* Encabezado */
header{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem 2rem;
}

/* Bloque de adicion de tareas */

.addtask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.groupofthree{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#date{
    display: flex;
    justify-content: center;
}

#engagementdate{
    font-family: 'Montserrat', sans-serif;
}

.select{
    display: flex;
    gap: 1rem;
}

select{
    width: 100%;
    padding: 0.8rem;
}

#submit{
    font-family: 'Montserrat', sans-serif;
}



/* Paneles de las tareas */
.board {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
}

#column {
    flex: 1;
    padding: 1rem;
    background-color: rgb(191, 66, 52);
    margin: 1rem;
    border-radius: 0.3rem;
}

#column2{
    flex: 1;
    padding: 1rem;
    background-color: rgb(206, 142, 45);
    margin: 1rem;
    border-radius: 0.3rem;
}

#column3{
    flex: 1;
    padding: 1rem;
    background-color: rgb(41, 89, 152);
    margin: 1rem;
    border-radius: 0.3rem;
}

.column-title {
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

.task {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 5px;
}